.product-card {
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(
    --ds-shadow-overlay,
    0 4px 8px -2px rgba(9, 30, 66, 0.25),
    0 0 1px rgba(9, 30, 66, 0.31)
  );
  border-radius: 5px;
  width: 20rem;
  display: inline-flex;
}

.product-card-logo {
  height: 2rem;
  object-fit: cover;
}

.product-card-title {
  display: flex;
  align-items: center;
}

.product-card-title a {
  color: #0052cc;
  display: block;
  text-decoration: none;
  font-size: 20px;
  margin-left: 1rem;
  line-height: initial;
}

.product-card-title a:hover {
  text-decoration: none;
}
