.profile {
  display: flex;
  cursor: pointer;

  .information {
    margin-left: 0.5rem;
    .role {
      font-weight: 400;
      font-size: 0.75rem;
    }
    .name {
      font-weight: 600;
      font-size: 1rem;
    }
  }
}
